* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary: #00ADB5;
    --item1: #222831;
    --item2: #393E46;
    --putih: #EEEEEE;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.kalkulator {
    width: 80vw;
    height: 75vh;
    background-color: var(--item1);
    border-radius: 1rem 1rem 0 0;
}

.kalkulator .layar {
    width: 100%;
    height: 20%;
    background-color: var(--putih);
    border-radius: 1rem 1rem 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kalkulator .layar .isi {
    width: 90%;
    height: 60%;
    border-radius: 1rem;
}

.kalkulator .layar .isi input {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    padding: 1rem;
    background-color: var(--item1);
    color: var(--putih);
    text-align: right;
    font-family: monospace;
    font-size: large;
    font-weight: bold;
}

.kalkulator .keyboard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.5rem;
}

.kalkulator .keyboard button{
    width: 4rem;
    height: 4rem;
    margin: 0.4rem;
    border-radius: 50%;
    font-weight: bold;
    transition: 0.5s;
    cursor: pointer;
}

.kalkulator .keyboard button:hover{
    background-color: var(--item2);
    color: var(--putih);
}

.kalkulator .keyboard button:active{
    background-color: var(--primary);
}

.ijo {
    background-color: var(--primary);
}