:root {
    --primary-c: #27374D;
    --secondary-c: #640D5F;
    --cerah-c: #F5F5F5;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


img {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
}

.box {
    width: 70%;
    height: 70%;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    backdrop-filter: blur(1rem);
    text-align: center;
    
}

.box h2 {
    background-image: linear-gradient(to right, var(--primary-c), var(--secondary-c));
    background-clip: text;
    color: transparent;
    font-weight: bolder;
    font-size: 1.8rem;
}

.box input {
    padding: 0.7rem;
    border-radius: 0.4rem;
    text-align: center;
    background-color: var(--primary-c);
    color: var(--cerah-c);
    letter-spacing: 0.2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.box input:focus-visible {
    outline: 3px solid var(--secondary-c);
    
}

.box button {
    width: 50%;
    height: 2rem;
    margin: 0 auto;
    background-color: var(--primary-c);
    color: var(--cerah-c);
    padding: 0.5rem;
    border-radius: 0.4rem;
    font-weight: bold;
    transition: 0.3s ease;
}

.box button:hover {
    background-color: var(--secondary-c);
}

.box button:active {
    color: var(--primary-c);
    animation: gede 0.4s ease;
}


@keyframes gede {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.2);
    }
}

.box p {
    color: var(--cerah-c);
    font-family: Georgia, 'Times New Roman', Times, serif;
}