@tailwind base;
@tailwind components;
@tailwind utilities;


.testis{
    overflow: hidden;
    border-right: .15em solid black;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation:
        ketik 6.5s steps(40, end),
        itemitem .75s step-end infinite;
    font-size: 10px;
}


@keyframes ketik {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes itemitem {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: black;
    }
}